@charset "UTF-8";

html {
    font-size: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #f2f2f2;
}

body {
    color: #432;
}

header {
    background: url(../images/penguins.jpeg) center top/cover no-repeat;
    height: 200px;
}

h1 {
    margin-bottom: 10%;
    font-size: 40px;
}

ul, dt, dd {
    list-style: none;
    display: inline-block;
}

/*画面左右分割*/
article {
    width: 74%;
    background-color: #f8f8f8;
    border-radius: 30px;
}
aside {
    width: 22%;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.contents {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10%;
}

.topix_name {
    margin-bottom: 0;
}

#overall {
    margin-bottom: 40px;
}

/*左写真*/
#mini {
    max-width: 100%;
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: auto;
}

#boy {
    margin-top: 20px;
    height: 300px;
    width: auto;
}

/*右メニュータイトル*/
.side_title {
    font-size: 20px;
    padding: 0 8px 8px;
    border-bottom: 2px skyblue solid;
    margin: 30px 30px ;
}

/*右メニュー*/
#side_menu {
    width: 100%;
    margin: 0 auto;
}
#side_menu dt{
    height: 50px;
    width: 70%;
    border-bottom: 1px solid #fff;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 10%;
    margin-top: 10px;
}
#side_menu dd{
    display: none;
    width: 100%;
    padding: 2em 1em;
    background-color: lightgray;
    border-radius: 10%;
}

/*ようつべリンク*/
.sakana {
    width: 100%;
    height: auto;
}

footer {
    background:lightgray;
    text-align: center;
    padding: 10px 0;
}
footer p {
    color: black;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    article, aside {
        width: 100%;
    }
}